---
- name: Import Tower custom inventory scripts
  tower_send:
    assets: |
      asset_type: inventory_script
      description: {{ item.description }}
      name: {{ item.name }}
      organization: {{ item.organization|default('Default') }}
      script: {{ lookup('file', item.script)|to_json }}
    validate_certs: no
    tower_host: "{{ awx_web_url }}"
    tower_username: "{{ awx_admin_user }}"
    tower_password: "{{ awx_admin_password }}"
  loop: "{{ awx_inventory_scripts }}"
  loop_control:
    label: "{{ item.name }}"

- name: Create Tower inventories
  awx.awx.tower_inventory:
    name: "{{ item.name }}"
    description: "{{ item.description | default(omit) }}"
    organization: "Default"
    #variables: "{{ item.variables | default(omit) }}"
    state: "{{ item.state | default('present') }}"
    validate_certs: no
    tower_host: "{{ awx_web_url }}"
    tower_username: "{{ awx_admin_user }}"
    tower_password: "{{ awx_admin_password }}"
    variables: "{{ item.variables | default(omit) }}"
  loop: "{{ awx_inventories }}"
  loop_control:
    label: "{{ item.name }}"
  when:
    - awx_inventories is defined
    - awx_inventories != None

- name: Create Tower inventory sources
  awx.awx.tower_inventory_source:
    name: "{{ item.name }}"
    description: "{{ item.description | default(omit) }}"
    state: "{{ item.state | default('present') }}"
    source: "{{ item.source }}"
    source_project: "{{ item.source_project | default(omit) }}"
    source_path: "{{ item.source_path | default(omit) }}"
    source_script: "{{ item.source_script | default(omit) }}"
    update_on_launch: "{{ item.update_on_launch | default('no') }}"
    update_on_project_update: "{{ item.update_on_project_update | default('no') }}"
    update_cache_timeout: "{{ item.update_cache_timeout | default(omit) }}"
    overwrite: "{{ item.overwrite | default('no') }}"
    overwrite_vars: "{{ item.overwrite_vars | default('no') }}"
    inventory: "{{ item.inventory }}"
    credential: "{{ item.credential | default(omit) }}"
    validate_certs: no
    tower_host: "{{ awx_web_url }}"
    tower_username: "{{ awx_admin_user }}"
    tower_password: "{{ awx_admin_password }}"
  loop: "{{ awx_inventory_sources }}"
  loop_control:
    label: "{{ item.name }}"
  when:
    - awx_inventory_sources is defined
    - awx_inventory_sources != None

- name: Add hosts to Tower
  awx.awx.tower_host:
    name: "{{ item.name }}"
    description: "{{ item.description | default(omit) }}"
    inventory: "{{ item.inventory }}"
    #variables: "{{ item.variables | default(omit) }}"
    state: "{{ item.state | default('present') }}"
    validate_certs: no
    tower_host: "{{ awx_web_url }}"
    tower_username: "{{ awx_admin_user }}"
    tower_password: "{{ awx_admin_password }}"
    variables: "{{ item.variables | default(omit) }}"
  loop: "{{ awx_hosts }}"
  loop_control:
    label: "{{ item.name }}"
  when:
    - awx_hosts is defined
    - awx_hosts != None
  #changed_when: False

- name: Add inventory groups to Tower
  awx.awx.tower_group:
    name: "{{ item.name }}"
    description: "{{ item.description | default(omit) }}"
    inventory: "{{ item.inventory }}"
    source: "{{ item.source | default('manual') }}"
    instance_filters: "{{ item.instance_filters | default(omit) }}"
    state: "{{ item.state | default('present') }}"
    validate_certs: no
    tower_host: "{{ awx_web_url }}"
    tower_username: "{{ awx_admin_user }}"
    tower_password: "{{ awx_admin_password }}"
  loop: "{{ awx_groups }}"
  loop_control:
    label: "{{ item.name }}"
  when:
    - awx_groups is defined
    - awx_groups != None
