---
- name: Export tower assets to refresh playbook data
  awx.awx.tower_receive:
    all: True
    validate_certs: no
    tower_host: "{{ awx_web_url }}"
    tower_username: "{{ awx_admin_user }}"
    tower_password: "{{ awx_admin_password }}"
  register: towerassets
#
#- debug:
#    msg: "{{ towerassets }}"

- name: Create Tower job templates
  awx.awx.tower_job_template:
    name: "{{ item.name }}"
    description: "{{ item.description | default(omit) }}"
    project: "{{ item.project }}"
    playbook: "{{ item.playbook }}"
    job_type: "{{ item.job_type | default('run') }}"
    fact_caching_enabled: "{{ item.fact_caching_enabled | default(omit) }}"
    diff_mode_enabled: "{{ item.diff_mode_enabled | default(omit) }}"
    concurrent_jobs_enabled: "{{ item.concurrent_jobs_enabled | default(omit) }}"
    force_handlers_enabled: "{{ item.force_handlers_enabled | default(omit) }}"
    survey_enabled: "{{ item.survey_enabled | default(omit) }}"
    host_config_key: "{{ item.host_config_key | default(omit) }}"
    survey_spec: "{{ item.survey_spec | from_yaml | default(omit) }}"
    become_enabled: "{{ item.become_enabled | default(omit) }}"
    ask_credential: "{{ item.ask_credential | default(omit) }}"
    ask_diff_mode: "{{ item.ask_diff_mode | default(omit) }}"
    ask_extra_vars: "{{ item.ask_extra_vars | default(omit) }}"
    ask_inventory: "{{ item.ask_inventory | default(omit) }}"
    ask_job_type: "{{ item.ask_job_type | default(omit) }}"
    ask_limit: "{{ item.ask_limit | default(omit) }}"
    ask_skip_tags: "{{ item.ask_skip_tags | default(omit) }}"
    ask_tags: "{{ item.ask_tags | default(omit) }}"
    ask_verbosity: "{{ item.ask_verbosity | default(omit) }}"
    skip_tags: "{{ item.skip_tags | default(omit) }}"
    limit: "{{ item.limit | default(omit) }}"
    job_tags: "{{ item.job_tags | default(omit) }}"
    start_at_task: "{{ item.start_at_task | default(omit) }}"
    verbosity: "{{ item.verbosity | default('0') }}"
    inventory: "{{ item.inventory | default(omit) }}"
    extra_vars: "{{ item.extra_vars | default(omit) }}"
    credentials: "{{ item.credentials | default(omit) }}"
    state: "{{ item.state | default('present') }}"
    validate_certs: no
    tower_host: "{{ awx_web_url }}"
    tower_username: "{{ awx_admin_user }}"
    tower_password: "{{ awx_admin_password }}"
  loop: "{{ awx_job_templates }}"
  register: template_import
  when:
    - awx_job_templates is defined
    - awx_job_templates != None
  changed_when: False
  #delegate_to: localhost


#- name: Create tower job templates via tower_send
#  tower_send:
#    tower_host: "{{ awx_web_url }}"
#    tower_username: "{{ awx_admin_user }}"
#    tower_password: "{{ awx_admin_password }}"
#    validate_certs: no
#    assets: |
#      {
#      {% if item.concurrent_jobs_enabled is defined and item.concurrent_jobs_enabled %}
#      "allow_simultaneous": true,
#      {% endif %}
#      {% if item.ask_credential is defined and item.ask_credential %}
#      "ask_credential_on_launch": true,
#      {% endif %}
#      {% if item.ask_diff_mode is defined and item.ask_diff_mode %}
#      "ask_diff_mode_on_launch": true,
#      {% endif %}
#      {% if item.ask_inventory is defined and item.ask_inventory %}
#      "ask_inventory_on_launch": true,
#      {% endif %}
#      {% if item.ask_job_type is defined and item.ask_job_type %}
#      "ask_job_type_on_launch": true,
#      {% endif %}
#      {% if item.ask_limit is defined and item.ask_limit %}
#      "ask_limit_on_launch": true,
#      {% endif %}
#      {% if item.ask_skip_tags is defined and item.ask_skip_tags %}
#      "ask_skip_tags_on_launch": true,
#      {% endif %}
#      {% if item.ask_tags is defined and item.ask_tags %}
#      "ask_tags_on_launch": true,
#      {% endif %}
#      {% if item.ask_exra_vars is defined and item.ask_exra_vars %}
#      "ask_variables_on_launch": true,
#      {% endif %}
#      {% if item.ask_verbosity is defined and item.ask_verbosity %}
#      "ask_verbosity_on_launch": true,
#      {% endif %}
#      "asset_relation": {
#          "credentials": [
#              {% if item.credential is defined and item.credential != None %}
#              "{{ item.credential }}",
#              {% endif %}
#              {% if item.vault_credential is defined and item.vault_credential != None %}
#              "{{ item.vault_credential }}",
#              {% endif %}
#          ],
#          "labels": [],
#          "notification_templates_error": [],
#          "notification_templates_success": [],
#          "roles": [
#              {
#                  "name": "Admin",
#                  "team": [],
#                  "user": [
#                      "admin"
#                  ]
#              },
#              {
#                  "name": "Execute",
#                  "team": [],
#                  "user": []
#              },
#              {
#                  "name": "Read",
#                  "team": [],
#                  "user": []
#              }
#          ],
#          "schedules": [],
#          "survey_spec": {}
#      },
#      "asset_type": "job_template",
#      {% if item.become_enabled is defined and item.become_enabled%}
#      "become_enabled": true,
#      {% endif %}
#      {% if item.diff_mode_enabled is defined and item.diff_mode_enabled %}
#      "diff_mode": true,
#      {% endif %}
#      {% if item.host_config_key is defined %}
#      "host_config_key": "{{ item.host_config_key }}",
#      {% endif %}
#      {% if item.extra_vars_path is defined %}
#      "extra_vars": {{ lookup("file", item.extra_vars_path) | from_yaml | to_nice_json | quote }},
#      {% endif %}
#      {% if item.force_handlers_enabled is defined  and item.force_handlers %}
#      "force_handlers": true,
#      {% endif %}
#      {% if item.inventory is defined %}
#      "inventory": {{ item.inventory | quote }},
#      {% endif %}
#      {% if item.job_tags is defined %}
#      "job_tags": {{ item.job_tags | quote }},
#      {% endif %}
#      {% if item.limit is defined %}
#      "limit": {{ item.limit | quote }},
#      {% endif %}
#      "name": {{ item.name | quote }},
#      "playbook": {{ item.playbook | quote }},
#      "project": {{ item.project | quote }},
#      {% if item.skip_tags is defined %}
#      "skip_tags": "{{ item.skip_tags | quote }}",
#      {% endif %}
#      {% if item.start_at_task is defined %}
#      "start_at_task": "{{ item.start_at_task | quote }}",
#      {% endif %}
#      {% if item.fact_caching_enabled is defined and item.fact_caching_enabled %}
#      "use_fact_cache": yes
#      {% endif %}
#      }
#  loop: "{{ awx_job_templates }}"
#  when:
#    - awx_job_templates is defined
#    - awx_job_templates != None


#- name: Export tower jobs
#  awx.awx.tower_receive:
#    validate_certs: no
#    job_template:
#      - all
#    tower_host: "{{ awx_web_url }}"
#    tower_username: "{{ awx_admin_user }}"
#    tower_password: "{{ awx_admin_password }}"
#  register: towerjobs
#
#- debug:
#    msg: "{{ towerjobs }}"


- name: "Set Fact for Job IDs"
  set_fact:
    "{{ item.job_template | lower | regex_replace('(?:[^\\w]+)', '_') }}_job_id": "{{ item.id }}"
    cacheable: yes
  loop: "{{ template_import.results }}"
  register: job_template_facts
  when:
    - template_import is defined
    - template_import.results != None
    - item.state != "absent"

- name: 'Set Foreman Global Parameter "host_configure_job_id"'
  command: hammer -r global-parameter set --name  host_configure_job_id --parameter-type integer --value {{ host_configure_job_id }}
  changed_when: False
  #loop: "{{ template_import.results }}"
  when:
    - host_configure_job_id is defined
    - host_configure_job_id != None
