{
    "asset_relation": {
        "roles": [
            {
                "name": "Admin",
                "team": [],
                "user": [
                    "admin"
                ]
            },
            {
                "name": "Use",
                "team": [],
                "user": []
            },
            {
                "name": "Read",
                "team": [],
                "user": []
            }
        ]
    },
    "asset_type": "credential",
    "credential_type": "foreman.ini",
    "inputs": {
        "password": "{{ foreman_admin_password }}",
        "username": "{{ foreman_admin_user }}",
        "url": "http://{{ ansible_default_ipv4.address }}:{{ foreman_port }}"
    },
    "name": "foreman.ini",
    "organization": "Default"
}
